<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{% if page.homepage %}{{ site.url }}/{% else %}{{ page.url | absolute_url }}{% endif %}">
<link rel="preload" href="/assets/CascadiaCodePL-Regular.woff2" as="font" type="font/woff2" crossorigin>
<title>{{ page.title }}</title>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ page.title }}",
  {% if page.og_image -%}
  "image": "{{ page.og_image }}",
  {% endif -%}
  {% if page.last_modified_at -%}
  "dateModified": "{{ page.last_modified_at }}",
  {% endif -%}
  "author": [{
    "@type": "Person",
    "name": "{{ site.author }}",
    "url": "{{ site.url }}",
    "email": "{{ site.email }}"
  }]
}
</script>
<meta name="description" content="{{ page.description }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="{{ site.locale }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% if page.og_image -%}
<meta property="og:image" content="{{ page.og_image }}">
<meta property="og:image:alt" content="{{ page.og_image_alt }}">
<meta name="twitter:image" content="{{ page.og_image }}">
<meta name="twitter:image:alt" content="{{ page.og_image_alt }}">
{% endif -%}
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:dnt" content="on">
{% if page.url == "/" -%}
<meta name="google-site-verification" content="wBVVBNSKwaye656DKGynPIypZKnmFibnQW1uAnOBdHQ" />
<meta name="yandex-verification" content="686032b81554cfa1" />
{% endif -%}
<link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" title="{{ site.name }}">
<meta name="apple-mobile-web-app-title" content="{{ site.name }}">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/slash-apple-180.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/slash-apple-167.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/slash-apple-152.png">
<link rel="icon" media="(prefers-color-scheme: light)" href="/assets/slash-192.png" sizes="192x192" type="image/png">
<link rel="icon" media="(prefers-color-scheme: light)" href="/assets/slash-180.png" sizes="180x180" type="image/png">
<link rel="icon" media="(prefers-color-scheme: light)" href="/assets/slash-128.png" sizes="128x128" type="image/png">
<link rel="icon" media="(prefers-color-scheme: light)" href="/assets/slash-32.png" sizes="32x32" type="image/png">
<link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/slash-dm-192.png" sizes="192x192" type="image/png">
<link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/slash-dm-180.png" sizes="180x180" type="image/png">
<link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/slash-dm-128.png" sizes="128x128" type="image/png">
<link rel="icon" media="(prefers-color-scheme: dark)" href="/assets/slash-dm-32.png" sizes="32x32" type="image/png">
{% include styles.html %}
</head>
<body>
  <header>
    <nav aria-label="primary-navigation">
      <p>
          {{-''-}}<strong><a href="/">{{ site.name }}</a></strong>
          {{-' '-}}<a href="/pages">pages</a>
          {{-' '-}}<a href="/now">now</a>
          {{-''-}}
      </p>
    </nav>
  </header>
<main>
  {{ content }}
</main>
<footer>
  <hr />
  <nav aria-label="footer-navigation">
    <p>
        {{-''-}}
        <a href="/feed.xml">RSS</a>{{-' • '-}}
        {%- unless page.permalink == "/" -%}
        <a href="/">Home</a>{{-' • '-}}
        {%- endunless -%}
        {%- unless page.permalink == "/pages" -%}
        <a href="/pages">Pages</a>{{-' • '-}}
        {%- endunless -%}
        {%- unless page.permalink == "/now" -%}
        <a href="/now">Now</a>
        {%- endunless -%}
    </p>
    <p>
      {{-''-}}
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      {{-''-}}
    </p>
  </nav>
</footer>
</body>
</html>